<h1> Welcome to: OM Design </h1>

<form action="/bags" method="get">
  <input type="text" name="material" placeholder="What kind of material?">
  <input type="submit">
</form>

<!-- link -->
<%= link_to "Know more about us", about_path %>
<%= link_to "Discover all our bags", bags_path %>
<%= link_to "Contact us", contact_path %>
