#nav-logo {
  left: 0;
  top: 0;
  position: relative;
  background-color: white;
  display: flex;
  font: black;
  width: 1300px;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-around;
}



